.toolBar{
    display: flex;
    justify-content: space-between;
    background-image:url('../../assets/Images/emptyboard.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
    color: #0ecdc3;
    opacity: 1;
    // width: 1535px;
}
.player{
  position: relative;
  box-sizing: border-box;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .token1{
    position: absolute;
    background-color: #0ecdc3;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top:0.9rem ;
    margin-left: 1.4rem;
    box-shadow: 0 0 10px 5px #0ecdc3;
  }
  .token2{
    position: absolute;
    background-color: #0ecdc3;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: 3.7rem;
    margin-left: -2rem;
    
    box-shadow: 0 0 10px 5px #0ecdc3;
  }
  .token3{
    position: absolute;
    background-color: #0ecdc3;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: 3.7rem;
    margin-left: 4.6rem;
    box-shadow: 0 0 10px 5px rgba(1, 240, 224, 0.7);
  }
  .token4{
    position: absolute;
    background-color: #0ecdc3;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top:8rem ;
    margin-left:-2.6rem;
    box-shadow: 0 0 10px 5px rgba(1, 240, 224, 0.7);
  }
  .token5{
    position: absolute;
    background-color: #0ecdc3;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top:8rem ;
    margin-left:5.5rem;
    box-shadow: 0 0 10px 5px rgba(1, 240, 224, 0.7);
  }
}

.container {
    z-index: 1;
    position: absolute;
    height: 300px;
    width: 600px;
    left: calc(50% - 300px);
    bottom: calc(-80px);
    display: flex;
  }
  
  .card {
    z-index: 1;
    display: flex;
    height: 280px;
    max-width: 230px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #0ecdc3;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -70px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    // position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }

// text
  
  .title {
    // z-index: 1;
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  

.button {
  z-index: 1;
    margin-top: 30px;
    background-color:black;
    border: none;
    color: white;
    text-shadow: 2px 4px 3px #0ecdc3;
    font-size: 15px;
    font-weight: 700;
    padding: 50px;
  }


.flash {
  filter: brightness(50%);
  transition: filter 0.2s ease;
}



