.game-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    
    
}
.map {
    z-index: 1;
    // display: flex;
    position: relative;
    // flex-direction: column;
    width: 80%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    box-sizing: border-box;
    border: solid black 10px;
    display: flex;
    justify-content: space-evenly;
}

.game{
    position: absolute;
    display: flex;
    z-index: 2;
    height: fit-content;
    width: 75%;
    justify-content: center;
    bottom: 100px;
    border: solid 2px blue;
    &-board{
            &__player{
                color: white;
                text-shadow: 5px 2px 2px #0ecdc3;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &__health{
                    display: flex;
                    justify-content: center;
                    // border: solid 2px blue;
                    
                }
                &__stats{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    height: 30px;
                    & img{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            &__enemy{

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                color: white;
                text-shadow: 5px 2px 2px purple;
            }
            &__animation{
                display: flex;
                align-items: center;
                justify-content: center;
                // border: solid 20px aqua;
                // border: solid 2px blue;
                width: 10rem;
                height: 10rem;
            }
    }
}

// .stat{
//     width: 10px;
//     height: 10px;
// }

.playerImg{
    
    width: 80%;
    height: 80%;
}

.enemyImg{
    width: 180px;
    height: 250px;
    transform: scaleX(-1);
}
  

@keyframes slideToLeft {
    0% {
        left: 100%; /* Start from the right side */
    }
    100% {
        left: 0%; /* End at the left side */
    }
}


