.game-container{
    background-image: url('../../assets/Images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire container */
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}
.game{
    display: flex;
    justify-content: flex-end;
    &-board{
            flex-direction: column;
            display: flex;
            width: 300px;
            height: 500px;
            margin: 1rem;
            &__player{
                img{
                    width: 250px;
                    height: 400px  
                }
                color:#0ecdc3;
                &:hover {
                    transform: translateY(-20px);
                    box-shadow: 0 0 10px #0ecdc3;
                }
                &:hover ~ .card {
                    position: relative;
                    transition: 0.4s ease-out;
                }
            }
            &__enemy{
                img{
                    width: 250px;
                    height: 400px  
                }
                color:red;
                &:hover {
                    transform: translateY(-20px);
                    box-shadow: 0 0 10px #f00b0b;
                }
                &:hover ~ .card {
                    position: relative;
                    transition: 0.4s ease-out;
                }
                img{
                    transform: scaleX(-1);
                }
            }
    }

}
