.game-container{
    // background-color: white;
    // background-image: url('../../assets/Images/background5.png');
    // opacity: 1;
    // background-repeat: no-repeat;
    // background-size: cover; 
    // background-position: center; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    
    
}
.map {
    z-index: 1;
    // display: flex;
    position: relative;
    // flex-direction: column;
    width: 80%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    box-sizing: border-box;
    border: solid black 10px;
}

.game{
    position: absolute;
    display: flex;
    z-index: 2;
    bottom: 130px;
    &-board{
            flex-direction: column;
            display: flex;
            width: 300px;
            height: 500px;
            margin: 1rem;

            &__player{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                // align-items: flex-end;
                color: white;
                text-shadow: 5px 2px 2px #0ecdc3;
                // background-color: red;
                &__health{
                    display: flex;
                    justify-content: center;
                    
                }
                &__stats{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    height: 30px;
                    & img{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            &__enemy{

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                color: white;
                text-shadow: 5px 2px 2px purple;
            }
            &__animation{
                display: flex;
                align-items: center;
                justify-content: center;
            }
    }
}

// .stat{
//     width: 10px;
//     height: 10px;
// }

.playerImg{
    width: 180px;
    height: 250px;
}

.enemyImg{
    width: 180px;
    height: 250px;
    transform: scaleX(-1);
}
  

@keyframes slideToLeft {
    0% {
        left: 100%; /* Start from the right side */
    }
    100% {
        left: 0%; /* End at the left side */
    }
}


