.hand{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.card{
    position: relative;
    background-image: url('../../assets/Images/card.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;

    border-radius: 10px;
    box-shadow: -1rem 0 3rem #490303;
    transition: 0.4s ease-out;
    border: solid black 5px;

    height: 170px;
    width: 120px;
    min-width: 100px;
    max-width: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    // position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }

// text
  
  .cost {
    background-color: rgb(231, 145, 33);
    display: flex;
    justify-content: center;
    border: solid 1px black;
    width: 50%;
    border-radius: 30%;
    // z-index: 1;
    font-weight: 300;
    // position: absolute;
    left: 20px;
    top: 15px;
  }
  

.button {
  border: solid 1px white;
  z-index: 1;
    margin-top: 30px;
    background-color:black;
    border: none;
    color: white;
    text-shadow: 2px 4px 3px #0ecdc3;
    font-size: 15px;
    font-weight: 700;
    // padding: 50px;
  }

  .description{
    color: white;
    max-height: 50px;
  }


.flash {
  filter: brightness(50%);
  transition: filter 0.2s ease;
}
.animation{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:2s;
  z-index: 9999; /* Ensure it's above all other content */
}
