.hand{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.card{
    position: absolute;
    background-image: url('../../assets/Images/card.png');
    background-size: contain;
    z-index: 3;
}