@use '../../styles/global' as *;

.next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
    height: 25rem;
    border: solid black 0.2rem;
    background-color: beige;
    border-radius: 1.5rem;
}