
.modal{
    font-family: 'Nosifier';
    background-color: black;
    border: solid 1px rgb(213, 133, 36);
    border-radius: 10px;

    font-size: 10px;
    width: 7rem;
    height: 10rem;
    &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:white;
    }
}