.modal{
    
    background-color: rgb(192, 121, 35);
    border-radius: 25px;
    width: 5rem;
    height: 25rem;
    &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}