.header{
  background-size: cover;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #262424;
  box-sizing: border-box;
  align-items: center;
  width: 10rem;
  height: 44rem;
  border: solid 0.2rem rgb(0, 0, 0);
  background-image: url('../../assets/Images/tree.png');
  background-size: contain;
  background-position: center;
  border-radius: 1rem;
  &-bar{
      display: flex;
      flex-direction: column;
      height: 100vh;
      &__option{
        justify-content: center;
        display: flex;
        margin: 0.5rem;
        border: rgb(0, 0, 0) solid 1px;
        border-radius: 1rem;
        padding: 0.5rem;
        box-shadow: 1px 1px 1px 1px rgb(197, 188, 188);
        background-color: rgb(0, 0, 0);
      }
  }
}

.link{
  text-decoration: none;
  color:rgb(215, 226, 229);
  text-align: center;
}


