.header{
  background-image: url('../../assets/Images/branch.png');
  background-size: contain;
  background-color: rgb(218, 127, 16);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:black;
  &-bar{
      display: flex;
      flex-direction: row;
      &__option{
        display: flex;
        align-items: flex-end;
        margin: 0.5rem;
        border: black solid 1px;
        border-radius: 15px;
        padding: 0.5rem;
        box-shadow: 5px 2px 2px white;
      }
  }
}

.link{
  text-decoration: none;
  color:black;
}




// .header{
//   background-image: url('../../assets/Images/rain.png');
//   animation: rain 10s linear infinite;
//   position: relative;
// }
// @keyframes rain{
//   0%{
//       background-position: 0% 0%;
//   }
//   100%{
//     background-position: 20% 100%;
//   }
// }
// .header::before{
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background-image: url('../../assets/Images/rain2.png');
//   top: -100px;
//   transform: rotate(180deg);
//   animation: lightining 4s linear infinite;
//   opacity: 1;
// }
// @keyframes lightining{
//   0%{
//       opacity: 0;
//   }
//   20%{
//       opacity: 0;
//   }
//   21%{
//       opacity: 1;
//   }
//   25%{
//       opacity: 0;
//   }
//   30%{
//       opacity: 0;
//   }
//   31%{
//       opacity: 1;
//   }
//   35%{
//       opacity: 0;
//   }
//   100%{
//       opacity: 0;
//   }
// }