.header{
  
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#0ecdc3;
  &-bar{
      display: flex;
      flex-direction: row;
      &__option{

        display: flex;
        align-items: flex-end;
        margin: 0.5rem;
        border: #0ecdc3 2px solid;
        border-radius: 15px;
        padding: 0.5rem;
        box-shadow: 5px 2px 2px #0ecdc3;;
      }
  }
}

.link{
  text-decoration: none;
  color:#0ecdc3;
}
