@use './styles/global' as *;



.App {
  font-family: 'Nosifier';
    z-index: 0;
    width: 100vw;
    height: 750px;
    position: relative;
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../gambit/src/assets/Images/castleoverlook2.png');


    background-repeat: no-repeat;
    background-size: cover;
}
*{
  // border: solid black 1px;
}

button{
  color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 25px;
  // background: linear-gradient(142deg, rgba(0,0,0,1) 36%, rgba(79,21,11,1) 51%); 


}



