@use './styles/global' as *;



.App {
  
  font-family: 'Nosifier';
    z-index: 0;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: black;
}


button{
  text-decoration: none;
  text-align: center;
  font-family: 'Nosifier';
  border: none;
  background-color: transparent;
  color: white;
}



