.proto{
    background-image: url('../../assets/Images/background8.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1500px;
    height: 600px;
}
